<div class="container">
    <div class="heading">
      <p>Manage Reservations</p>
    </div>
  
    <div class="btn-container">
      <button class="add-customer-btn" (click)="setActive('re-schedule reservation')">
        <div class="btn">
          <div class="title">
            <p>Re-Schedule a Reservation</p>
          </div>
  
          <div class="icon">
            <img src="/next.png" alt="next icon" />
          </div>
        </div>
      </button>
  
      <button class="add-customer-btn" (click)="setActive('reservation history')">
        <div class="btn">
          <div class="title">
            <p>Reservation History</p>
          </div>
  
          <div class="icon">
            <img src="/next.png" alt="next icon" />
          </div>
        </div>
      </button>
    </div>
  </div>
