<div class="container">
  <div class="heading">
    <p>New Reservation</p>
  </div>

  <form action="">
    <div class="form-container">
      <div class="customer-form">
        <div class="label">Customer Mobile Number</div>
        <div class="load-customer">
          <input
            type="text"
            #customerPhone
            (input)="onCusPhoneChange(customerPhone.value)"
          />
        </div>

        <div class="locations">
          <div class="pick">
            <div class="label">Pick up Location</div>
            <select (change)="onPickupChange($event)">
              <option value="" disabled selected>Select a Location</option>
              <option *ngFor="let location of locations" [value]="location">
                {{ location }}
              </option>
            </select>
          </div>

          <div class="drop">
            <div class="label">Drop off Location</div>
            <select (change)="onDropOffChange($event)">
              <option value="" disabled selected>Select a Location</option>
              <option *ngFor="let location of locations" [value]="location">
                {{ location }}
              </option>
            </select>
          </div>
        </div>

        <div class="schedule">
          <div class="book-now-btn">
            <button
              type="button"
              (click)="setScheduleFalse($event)"
              [ngClass]="{ 'bg-[#FFB8008c]': !schedule, 'bg-white': schedule }"
            >
              Book Now
            </button>
          </div>
          <div class="schedule-btn">
            <button
              type="button"
              (click)="setScheduleTrue($event)"
              [ngClass]="{ 'bg-[#FFB8008c]': schedule, 'bg-white': !schedule }"
            >
              Schedule for Later
            </button>
          </div>
        </div>

        <div class="schedule-details">
          <div class="date">
            <div class="label">Date</div>
            <input type="date" [readOnly]="!schedule" [value]="currentDate" />
          </div>

          <div class="time">
            <div class="label">Time</div>
            <input type="time" [readOnly]="!schedule" [value]="currentTime" />
          </div>
        </div>

        <div class="label">Select a Vehicle Type</div>
        <div class="vehicle-type">
          <button
            class="vehicle-btn"
            (click)="setVehicleType('tuk', $event)"
            [ngClass]="{
              'border-[#FFB800]': vehicleType === 'tuk',
              'border-gray-300': vehicleType !== 'tuk'
            }"
          >
            <div class="vehicle-container">
              <img src="/tuk.png" alt="tuk icon" />
              <div class="passenger">
                <img src="/group.png" alt="passenger icon" />
                <p>3</p>
              </div>
              <p class="vehicle-name">Tuk</p>
            </div>
          </button>

          <button
            class="vehicle-btn"
            (click)="setVehicleType('car', $event)"
            [ngClass]="{
              'border-[#FFB800]': vehicleType === 'car',
              'border-gray-300': vehicleType !== 'car'
            }"
          >
            <div class="vehicle-container">
              <img src="/sedan.png" alt="tuk icon" />
              <div class="passenger">
                <img src="/group.png" alt="passenger icon" />
                <p>4</p>
              </div>
              <p class="vehicle-name">Car</p>
            </div>
          </button>
          <button
            class="vehicle-btn"
            (click)="setVehicleType('van', $event)"
            [ngClass]="{
              'border-[#FFB800]': vehicleType === 'van',
              'border-gray-300': vehicleType !== 'van'
            }"
          >
            <div class="vehicle-container">
              <img src="/van.png" alt="tuk icon" />
              <div class="passenger">
                <img src="/group.png" alt="passenger icon" />
                <p>8</p>
              </div>
              <p class="vehicle-name">Van</p>
            </div>
          </button>
        </div>
      </div>

      <div class="vehicle-form">
        <div class="label">Customer Details</div>
        <div *ngIf="customerID !== ''">
          <div class="first-name">
            <div class="icon">
              <img src="/people.png" alt="people icon" />
            </div>
            <div class="details">{{ fisrtName + " " + lastName }}</div>
          </div>

          <div class="address">
            <div class="icon">
              <img src="/pin.png" alt="people icon" />
            </div>
            <div class="details">{{ address }}</div>
          </div>

          <div class="email">
            <div class="icon">
              <img src="/email.png" alt="people icon" />
            </div>
            <div class="details">{{ email }}</div>
          </div>

          <div class="nic">
            <div class="icon">
              <img src="/identity-card.png" alt="people icon" />
            </div>
            <div class="details">{{ nic }}</div>
          </div>
        </div>

        <div class="customer-error">
          <p *ngIf="customerID === ''">{{ customerErrorMessage }}</p>
        </div>

        <div class="label">Trip Details</div>

        <div *ngIf="distance !== 0">
          <div class="pickup">
            <div class="icon">
              <img src="/pin.png" alt="pickup icon" />
            </div>
            <div class="details w-[150px]">Origin</div>
            <div class="details">: {{ selectedPickupLocation }}</div>
          </div>

          <div class="dropoff">
            <div class="icon">
              <img src="/flag.png" alt="drop icon" />
            </div>
            <div class="details w-[150px]">Destination</div>
            <div class="details">: {{ selectedDropoffLocation }}</div>
          </div>

          <div class="distance">
            <div class="icon">
              <img src="/distance.png" alt="distance icon" />
            </div>
            <div class="details w-[150px]">Distance</div>
            <div class="details">: {{ distance }} km</div>
          </div>
        </div>

        <div class="customer-error">
          <p
            *ngIf="
              selectedPickupLocation === '' || selectedDropoffLocation === ''
            "
          >
            {{ locationErrorMessage }}
          </p>
        </div>

        <div class="label">Trip Fare</div>

        <div class="fare-container" *ngIf="registrationNumber !== ''">
          <div class="lables">
            <div class="fare">
              <div class="icon">
                <img src="/payment.png" alt="payment icon" />
              </div>
              <div class="details w-[150px]">Original Fare</div>
            </div>

            <div class="fare">
              <div class="icon">
                <img src="/discount.png" alt="payment icon" />
              </div>
              <div class="details w-[150px]">Discount</div>
            </div>

            <div class="fare">
              <div class="icon">
                <img src="/money.png" alt="payment icon" />
              </div>
              <div class="details w-[150px]">Final Fare</div>
            </div>
          </div>

          <div class="prices">
            <div class="original-price">
              <div class="price-details">
                <span class="font-normal text-xl">Rs.</span> 1,440.00
              </div>
            </div>

            <div class="discount">
              <div class="discount-details">(10%) Rs. 144.00</div>
            </div>

            <div class="fare">
              <div class="price-details">
                <span class="font-normal text-xl">Rs.</span> 1,296.00
              </div>
            </div>
          </div>
        </div>

        <div class="customer-error">
          <p *ngIf="registrationNumber === ''">
            {{ vehicleErrorMessage }}
          </p>
        </div>

        <div class="proceed-btn">
          <button
            type="button"
            (click)="setPopupVisible()"
            [disabled]="
              !(
                this.customerID !== '' &&
                this.registrationNumber !== '' &&
                this.distance !== 0
              )
            "
            [ngClass]="{
              'bg-[#FFB800] hover:bg-amber-500 cursor-pointer':
                this.customerID !== '' &&
                this.registrationNumber !== '' &&
                this.distance !== 0,
              'bg-white cursor-not-allowed': !(
                this.customerID !== '' &&
                this.registrationNumber !== '' &&
                this.distance !== 0
              )
            }"
          >
            Proceed
          </button>
        </div>
      </div>
    </div>
  </form>

  <div *ngIf="isPopupVisible" class="popup-overlay">
    <div class="popup-container">
      <div class="label">Select a Driver & Vehicle</div>

      <div class="detail-container">
        <div class="vehicle">
          <div class="registration-number">
            <div class="popup-details w-[200px]">Registration Number</div>
            <div class="popup-details">: {{ registrationNumber }}</div>
          </div>

          <div class="popup-vehicle-type">
            <div class="popup-details w-[200px]">Vehicle Type</div>
            <div class="popup-details">: {{ vehicleType }}</div>
          </div>
        </div>

        <div class="driver">
          <div class="driver-img">
            <img src="/user.png" alt="driver icon" />
          </div>
          <div>
            <div class="driver-name">
              <div class="popup-details font-semibold">
                {{ driverFirstName + " " + driverLastName }}
              </div>
            </div>

            <div class="driver-mobile">
              <div class="popup-details">{{ driverPhone }}</div>
            </div>
          </div>
        </div>

        <div class="driver-reload-btn">
          <button (click)="getVehicle()">
            <img src="/reload.png" alt="reload icon" />
            <span>Change Driver & Vehicle</span>
          </button>
        </div>

        <div class="cancel-confirm-btn">
          <button type="button" class="cancel-btn" (click)="closePopup()">
            Cancel
          </button>

          <button
            type="button"
            class="confirm-btn"
            (click)="setScheduleTrue($event)"
          >
            Confirm Reservation
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
