<div class="container">
  <div class="heading">
    <p>System Settings</p>
  </div>

  <div class="btn-container">
    <button class="add-customer-btn">
      <div class="btn">
        <div class="title">
          <p>Vehicle Pricing</p>
        </div>

        <div class="icon">
          <img src="/up-arrows.png" alt="next icon" />
        </div>
      </div>
    </button>

    <form>
      <div class="input-row">
        <div class="label">Tuk</div>
        <input type="text" placeholder="Price per km" />
      </div>

      <hr />

      <div class="input-row">
        <div class="label">Car</div>
        <input type="text" placeholder="Price per km" />
      </div>

      <hr />

      <div class="input-row">
        <div class="label">Van</div>
        <input type="text" placeholder="Price per km" />
      </div>

      <div class="input-row">
        <div></div>
        <div class="save-btn">
          <button type="submit">Save Changes</button>
        </div>
      </div>
    </form>
  </div>
</div>
