<div class="container">
  <div class="heading">
    <p>Manage Customers</p>
  </div>

  <div class="btn-container">
    <button class="add-customer-btn" (click)="setActive('add customer')">
      <div class="btn">
        <div class="title">
          <p>Add New Customer</p>
        </div>

        <div class="icon">
          <img src="/next.png" alt="next icon" />
        </div>
      </div>
    </button>

    <button class="add-customer-btn" (click)="setActive('edit customer')">
      <div class="btn">
        <div class="title">
          <p>Edit Customer</p>
        </div>

        <div class="icon">
          <img src="/next.png" alt="next icon" />
        </div>
      </div>
    </button>
  </div>
</div>
